<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.movie.boardReview.model.dao.BoardReviewDao">
    <select id="selectReviewCount" resultType="int">
        SELECT COUNT(*) FROM board_review 
        WHERE board_tmdb_movie_id = #{movieId} 
        AND board_member_id = #{memberId}
    </select>
</mapper>
