<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.movie.boardReview.model.dao.BoardLikeDao">

    <select id="selectBoardReviewLikeCount" resultType="int">
        select count(*) from board_like 
        where board_like_review_no = #{boardReviewNo}
    </select>

    <select id="checkBoardReviewLike" resultType="int">
        select count(*) from board_like 
        where board_like_review_no = #{boardReviewNo}
        and board_like_member_id = #{memberId}
    </select>

    <insert id="insertBoardReviewLike">
        INSERT INTO board_like VALUES (
            board_like_seq.NEXTVAL,
            #{boardReviewNo},
            #{memberId},
            sysdate
        )
    </insert>

    <delete id="deleteBoardReviewLike">
        DELETE FROM board_like WHERE board_like_review_no = #{boardReviewNo} AND board_like_member_id = #{memberId}
    </delete>

</mapper>
