<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.or.movie.simepleReview.model.dao.SimpleReviewDao">
    <select id="selectReviewCount" resultType="int">
        SELECT COUNT(*) FROM simple_review 
        WHERE SIMPLE_REVIEW_TMDB_MOVIE_ID = #{movieId} 
        AND SIMPLE_REVIEW_MEMBER_ID = #{memberId}
    </select>
    
    <insert id="insertSimpleReview">
        INSERT INTO simple_review (
            SIMPLE_REVIEW_NO,
            SIMPLE_REVIEW_MEMBER_ID,
            SIMPLE_REVIEW_TMDB_MOVIE_ID,
            SIMPLE_REVIEW_RATING,
            SIMPLE_REVIEW_CONTENT,
            SIMPLE_REVIEW_DATE
        ) VALUES (
            simple_review_seq.NEXTVAL,
            #{simpleReviewMemberId},
            #{simpleReviewTmdbMovieId},
            #{simpleReviewRating},
            #{simpleReviewContent},
            SYSDATE
        )
    </insert>

    <select id="selectSimpleReviewAvg" resultType="double">
        SELECT AVG(SIMPLE_REVIEW_RATING) FROM SIMPLE_REVIEW WHERE SIMPLE_REVIEW_TMDB_MOVIE_ID = #{tmdbMovieId}
    </select>

    <select id="selectSimpleReviewCount" resultType="int">
        SELECT COUNT(*) FROM SIMPLE_REVIEW WHERE SIMPLE_REVIEW_TMDB_MOVIE_ID = #{tmdbMovieId}
    </select>

    <select id="checkReview" resultType="int">
        SELECT COUNT(*) FROM SIMPLE_REVIEW WHERE SIMPLE_REVIEW_TMDB_MOVIE_ID = #{movieId} AND SIMPLE_REVIEW_MEMBER_ID = #{memberId}
    </select>

      <!-- 심플 리뷰 통계 관련 메서드 -->
  <select id="selectSimpleReviewCountByTmdbMovieId" resultType="int">
    select count(*) from simple_review 
    where simple_review_tmdb_movie_id = #{tmdbMovieId}
  </select>

  <select id="selectSimpleReviewAverageRatingByTmdbMovieId" resultType="double">
    select avg(simple_review_rating) from simple_review 
    where simple_review_tmdb_movie_id = #{tmdbMovieId}
  </select>

  <select id="selectSimpleReviewRatingDistributionByTmdbMovieId" resultType="map">
    SELECT 
      simple_review_rating as rating, 
      COUNT(*) as count
    FROM simple_review 
    WHERE simple_review_tmdb_movie_id = #{tmdbMovieId}
    GROUP BY simple_review_rating
    ORDER BY simple_review_rating
  </select>

 <select id="selectSimpleReviewList" resultType="simple_review">
  SELECT 
      simple_review_no as simpleReviewNo,
      simple_review_member_id as simpleReviewMemberId,
      simple_review_tmdb_movie_id as simpleReviewTmdbMovieId,
      simple_review_rating as simpleReviewRating,
      simple_review_content as simpleReviewContent,
      simple_review_date as simpleReviewDate,
      (select member_nickname from member where member_id = simple_review_member_id) as memberNickname,
      (select member_profile_img from member where member_id = simple_review_member_id) as memberProfileImg
  FROM simple_review 
  WHERE simple_review_tmdb_movie_id = #{movieId}
  ORDER BY simple_review_no DESC
</select>

<update id="updateSimpleReview">
    UPDATE simple_review SET
    simple_review_rating = #{simpleReviewRating},
    simple_review_content = #{simpleReviewContent}
    WHERE simple_review_no = #{simpleReviewNo}
</update>

<delete id="deleteSimpleReview">
    DELETE FROM simple_review WHERE simple_review_no = #{simpleReviewNo}
</delete>

  <!-- 마이페이지 심플 리뷰 통계 관련 메서드 -->
  <select id="selectSimpleReviewCountByMemberId" resultType="int">
    SELECT COUNT(*) 
    FROM simple_review 
    WHERE simple_review_member_id = #{memberId}
  </select>

  <select id="selectSimpleReviewAverageRatingByMemberId" resultType="double">
    SELECT AVG(simple_review_rating) 
    FROM simple_review 
    WHERE simple_review_member_id = #{memberId}
  </select>

  <select id="selectSimpleReviewGenreDistributionByMemberId" resultType="map">
    SELECT 
      ug.USERPICK_GENRE_NAME as genreName,
      COUNT(*) as count
    FROM userpick_genre ug
    WHERE ug.USERPICK_GENRE_MOVIE_NO IN (
      SELECT um.USERPICK_MOVIE_NO
      FROM userpick_movie um
      WHERE um.USERPICK_MOVIE_TMDB_MOVIE_ID IN (
        SELECT sr.SIMPLE_REVIEW_TMDB_MOVIE_ID
        FROM simple_review sr
        WHERE sr.SIMPLE_REVIEW_MEMBER_ID = #{memberId}
      )
    )
    GROUP BY ug.USERPICK_GENRE_NAME
    ORDER BY count DESC
  </select>

  <select id="selectSimpleReviewRatingDistributionByMemberId" resultType="map">
    SELECT 
      simple_review_rating as rating, 
      COUNT(*) as count
    FROM simple_review 
    WHERE simple_review_member_id = #{memberId}
    GROUP BY simple_review_rating
    ORDER BY simple_review_rating
  </select>

  <!-- 회원별 심플 리뷰 목록 조회 카운트 -->
  <select id="selectSimpleReviewListCountByMemberId" resultType="int">
    SELECT COUNT(*) 
    FROM simple_review 
    WHERE simple_review_member_id = #{memberId}
  </select>

  <!-- 회원별 심플 리뷰 목록 조회 (페이지네이션) -->
  <select id="selectSimpleReviewListByMemberId" resultType="simple_review">
    SELECT * FROM (
      SELECT rownum as rnum, b.* FROM (
        (SELECT 
          sr.simple_review_no as simpleReviewNo,
          sr.simple_review_member_id as simpleReviewMemberId,
          sr.simple_review_tmdb_movie_id as simpleReviewTmdbMovieId,
          sr.simple_review_rating as simpleReviewRating,
          sr.simple_review_content as simpleReviewContent,
          sr.simple_review_date as simpleReviewDate,
          sr.simple_review_date as simpleReviewEnrollDate,
          (SELECT member_nickname FROM member WHERE member_id = sr.simple_review_member_id) as memberNickname,
          (SELECT member_profile_img FROM member WHERE member_id = sr.simple_review_member_id) as memberProfileImg,
          um.userpick_movie_no as userpickMovieNo,
          um.userpick_movie_title as movieTitle,
          um.userpick_movie_poster_path as moviePosterPath,
          um.userpick_movie_release_date as movieReleaseDate,
          um.userpick_movie_runtime as movieRuntime
        FROM simple_review sr
        LEFT JOIN userpick_movie um ON sr.simple_review_tmdb_movie_id = um.userpick_movie_tmdb_movie_id
        WHERE sr.simple_review_member_id = #{memberId}
        ORDER BY sr.simple_review_no DESC)b
      )
    ) WHERE rnum BETWEEN #{pageInfo.start} AND #{pageInfo.end}
  </select>

  <!-- 회원별 심플 리뷰 제목 검색 카운트 -->
  <select id="selectSimpleReviewSearchCountByTitle" resultType="int">
    SELECT COUNT(*) 
    FROM simple_review sr
    INNER JOIN userpick_movie um ON sr.simple_review_tmdb_movie_id = um.userpick_movie_tmdb_movie_id
    WHERE sr.simple_review_member_id = #{memberId}
    AND um.userpick_movie_title LIKE '%' || #{keyword} || '%'
  </select>

  <!-- 회원별 심플 리뷰 제목 검색 -->
  <select id="selectSimpleReviewSearchByTitle" resultType="simple_review">
    SELECT * FROM (
      SELECT rownum as rnum, b.* FROM (
        (SELECT 
          sr.simple_review_no as simpleReviewNo,
          sr.simple_review_member_id as simpleReviewMemberId,
          sr.simple_review_tmdb_movie_id as simpleReviewTmdbMovieId,
          sr.simple_review_rating as simpleReviewRating,
          sr.simple_review_content as simpleReviewContent,
          sr.simple_review_date as simpleReviewDate,
          sr.simple_review_date as simpleReviewEnrollDate,
          (SELECT member_nickname FROM member WHERE member_id = sr.simple_review_member_id) as memberNickname,
          (SELECT member_profile_img FROM member WHERE member_id = sr.simple_review_member_id) as memberProfileImg,
          um.userpick_movie_no as userpickMovieNo,
          um.userpick_movie_title as movieTitle,
          um.userpick_movie_poster_path as moviePosterPath,
          um.userpick_movie_release_date as movieReleaseDate,
          um.userpick_movie_runtime as movieRuntime
        FROM simple_review sr
        INNER JOIN userpick_movie um ON sr.simple_review_tmdb_movie_id = um.userpick_movie_tmdb_movie_id
        WHERE sr.simple_review_member_id = #{memberId}
        AND um.userpick_movie_title LIKE '%' || #{keyword} || '%'
        ORDER BY sr.simple_review_no DESC)b
      )
    ) WHERE rnum BETWEEN #{pageInfo.start} AND #{pageInfo.end}
  </select>

  <!-- 회원별 심플 리뷰 장르 검색 카운트 -->
  <select id="selectSimpleReviewSearchCountByGenre" resultType="int">
    SELECT COUNT(DISTINCT sr.simple_review_no)
    FROM simple_review sr
    INNER JOIN userpick_movie um ON sr.simple_review_tmdb_movie_id = um.userpick_movie_tmdb_movie_id
    INNER JOIN userpick_genre ug ON um.userpick_movie_no = ug.userpick_genre_movie_no
    WHERE sr.simple_review_member_id = #{memberId}
    AND ug.userpick_genre_id = #{genreId}
  </select>

  <!-- 회원별 심플 리뷰 장르 검색 -->
  <select id="selectSimpleReviewSearchByGenre" resultType="simple_review">
    SELECT * FROM (
      SELECT rownum as rnum, b.* FROM (
        (SELECT DISTINCT
          sr.simple_review_no as simpleReviewNo,
          sr.simple_review_member_id as simpleReviewMemberId,
          sr.simple_review_tmdb_movie_id as simpleReviewTmdbMovieId,
          sr.simple_review_rating as simpleReviewRating,
          sr.simple_review_content as simpleReviewContent,
          sr.simple_review_date as simpleReviewDate,
          sr.simple_review_date as simpleReviewEnrollDate,
          (SELECT member_nickname FROM member WHERE member_id = sr.simple_review_member_id) as memberNickname,
          (SELECT member_profile_img FROM member WHERE member_id = sr.simple_review_member_id) as memberProfileImg,
          um.userpick_movie_no as userpickMovieNo,
          um.userpick_movie_title as movieTitle,
          um.userpick_movie_poster_path as moviePosterPath,
          um.userpick_movie_release_date as movieReleaseDate,
          um.userpick_movie_runtime as movieRuntime
        FROM simple_review sr
        INNER JOIN userpick_movie um ON sr.simple_review_tmdb_movie_id = um.userpick_movie_tmdb_movie_id
        INNER JOIN userpick_genre ug ON um.userpick_movie_no = ug.userpick_genre_movie_no
        WHERE sr.simple_review_member_id = #{memberId}
        AND ug.userpick_genre_id = #{genreId}
        ORDER BY sr.simple_review_no DESC)b
      )
    ) WHERE rnum BETWEEN #{pageInfo.start} AND #{pageInfo.end}
  </select>

</mapper>
